*.class

#package file
*.war
*.ear

#kdiff3
*.orig

#maven
target/

#ecilpse
.settings/
.classpath
.project

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file

*.log
*.cache
*.diff
*.tmp

# system ignore
.DS_Store
Thumbs.db

